<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a routerLink="" class="breadcrumb-item">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page" *ngFor="let breadcrumb of breadcrumbs">
      <a [routerLink]="[breadcrumb.url]">{{ breadcrumb.label }}</a>
    </li>
  </ol>
</nav>
