<div class="container py-5 px-lg-0 bg-sm-light">
  <div class="row p-lg-5">
    <div class="col-md-6 col-sm-12">
      <img src="https://webapi.dientoan.vn/{{data?.images}}" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 col-sm-12 d-flex flex-column">
      <div class="align-items-start mb-auto">
        <h2 >{{data?.title}}</h2>
        <p>
          {{data?.abstract}}
        </p>
      </div>
      <div class="align-items-start">
        <a class="read-more" (click)="click()">Xem thêm <img src="../../assets/images/shape_13.png"/></a>
      </div>
    </div>
  </div>
</div>

