<app-header></app-header>

<div class="container px-lg-0" style="padding-top: 6rem">

    <!-- ======= about ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">


            <div class="section-title">
                <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
            </div>
            <div class="row mb-4">
                <div class="col-sm-12">
                    <div class="card border-0 mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1909025179502!2d106.65531497573615!3d10.796686158818256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529a9dbd5a60d%3A0xfbb9efd5ae2da56c!2zxJBp4buHbiBUb8OhbiBHcm91cA!5e0!3m2!1svi!2s!4v1719047640068!5m2!1svi!2s"
                                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>

                            </div>
                            <div class="col-md-7">

                                <div class="card-header bg-transparent border-success font-weight-bold"> <h4>TRỤ SỞ CHÍNH</h4></div>
                                <div class="card-body">

                                    <p class="card-text">Địa chỉ: 437/16 Hoàng Văn Thụ, Quận Tân Bình, Tp. Hồ Chí Minh
                                    </p>
                                    <p class="card-text">Email: hieu.duong&#64;dientoan.vn, dnhieu&#64;hcmut.edu.vn </p>
                                    <p class="card-text">Phone: 0918497285 </p>
                                    <p class="card-text">Website: www.dientoan.vn </p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-sm-6">

                    <div class="card border-0 mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">

                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1161.942431102875!2d106.61220991787782!3d10.765494249324025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c3b8c560c8b%3A0xa455f99da335ee5f!2zNTAgVHLGsMahbmcgUGjGsOG7m2MgUGhhbg!5e0!3m2!1svi!2s!4v1719049291230!5m2!1svi!2s"
                                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <div class="col-md-8">

                                <div class="card-header bg-transparent border-success font-weight-bold"><h4>CƠ SỞ 2</h4></div>
                                <div class="card-body">

                                    <p class="card-text">Địa chỉ: 50/16 Trương Phước Phan, Quận Bình Tân, Tp. Hồ Chí
                                        Minh
                                    </p>
                                    <p class="card-text">Email: viet.nguyen&#64;dientoan.vn</p>
                                    <p class="card-text">Phone: 0908.698.544 </p>
                                    <p class="card-text">Website: www.dientoan.vn </p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="card border-0 mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-8">

                                <div class="card-header bg-transparent text-end border-success font-weight-bold"><h4>PHÒNG NGHIÊN CỨU AI, HPC</h4>
                                </div>
                                <div class="card-body text-end">

                                    <p class="card-text">Địa chỉ: 302 B10, 268 Lý Thường Kiệt, Quận 10, Tp. Hồ Chí Minh
                                    </p>
                                    <p class="card-text">Email: namthoai&#64;hcmut.edu.vn </p>
                                    <p class="card-text">Phone: 0918.352.226 </p>
                                    <p class="card-text">Website: www.dientoan.vn </p>


                                </div>
                            </div>

                            <div class="col-md-4">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4973616396037!2d106.65690387573589!3d10.773167359252412!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec3c161a3fb%3A0xef77cd47a1cc691e!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBCw6FjaCBraG9hIC0gxJDhuqFpIGjhu41jIFF14buRYyBnaWEgVFAuSENN!5e0!3m2!1svi!2sus!4v1719049365993!5m2!1svi!2sus"
                                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section><!-- End Contact Section -->
</div>

<app-footer></app-footer>