<app-header></app-header>
  <div class="container px-lg-0" style="padding-top: 6rem">
    <div class="d-flex flex-row-reverse align-self-end">
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div>
<div class="d-flex justify-content-center p-5" *ngIf="newsList.length === 0">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<section *ngIf="newsList && newsList[0] && newsList[0].ishotnews" class="py-3">
  <app-news-header [data]="newsList[0]" (onClick)="onClickDetail(newsList[0].id)"></app-news-header>
</section>
<section>
  <div class="container">
    <div class="row gy-4">
      <div class=" col-lg-4 col-md-6 d-flex flex-column" *ngFor="let p of newsList">
        <div class="align-items-start">
          <img (click)="onClickDetail(p.id)" src="https://webapi.dientoan.vn/{{p?.images}}" class="" alt="" style="height: 300px; max-width: 100%">
        </div>
        <div class="mb-auto">
            <p class="px-0 py-3">{{p.title}}  </p>
        </div>
        <div *ngIf="!isHideDetail" class="align-items-start">
          <a class="read-more" (click)="onClickDetail(p.id)">Xem thêm <img src="../../assets/images/shape_13.png"/></a>
        </div>
      </div>
    </div>
    <div class="pt-5 d-flex flex-row-reverse">
      <app-pagination [pageSize]="pageSize"
                      [page]="page"
                      [total]="total"
                      [maxPage]="3"
                      (changePage)="onChangePage($event)"
      ></app-pagination>
    </div>


  </div>
</section>
<app-footer></app-footer>
