<!-- ======= footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-md-offset-1 footer-links">
          <ul class="nav">
            <li>
              <a class="nav-link" href="#">Trang chủ</a>
            </li>
            <li>
              <a class="nav-link" href="#">Giới thiệu</a>
            </li>
            <li>
              <a class="nav-link" href="#">Thành viên</a>
            </li>
            <li>
              <a class="nav-link" href="#">Dự án</a>
            </li>
            <li>
              <a class="nav-link" href="#">Tin tức</a>
            </li>
            <li>
              <a class="nav-link" href="#">Liên hệ</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

    <div class="copyright-wrap d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          <strong><span>© 2024 Dientoan.vn</span></strong> <span>. All Rights Reserved</span>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">

        <a href="https://www.facebook.com/DIENTOANGROUP" target="_blank" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/dien-toan-group" target="_blank" class="youtube"><i class="fab fa-linkedin-in"></i></a>

      </div>
    </div>

  </div>
</footer>
