/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  background: rgba(47, 88, 131, 0.7);
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(47, 88, 131, 0.8);
  padding: 12px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 100px;
}

#header-contact {
  background: #58595b;
}

#fixed-header {
  padding: 8px 0;
  background: #108fcf;
  position: fixed;
  left: 0;
  right: 0;
}
#header-contact .logo {
  font-size: 27px;
  padding: 20px;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

#header-contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 52px;
  height: 36px;
  transition: 0.3s;
}

.navbar {
  padding: 0;
}

.navbar .navbar-nav {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  background: none;
  border: none;
}

.navbar li {
  position: relative;
  padding: 10px 0 10px 24px;
  text-transform: uppercase;
  font-size: 1.2rem
}

.navbar>ul>li {
  padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
  /*display: flex;*/
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-family: "Roboto Light", sans-serif;
  /*font-size: 15px;*/
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  /*color: #fff;*/
  cursor: pointer;
}

.navbar .getstarted:before,
.navbar li:hover>.getstarted:before {
  visibility: hidden;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 24px;
  top: calc(100% + 30px);
  margin: 0;
  padding-bottom: 10px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  /*background: #fff;*/
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  color: #2c4964;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #2f5883;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

.navbar .items {
  color: #58595b;
  cursor: pointer;
}

.navbar .dropdown-items-ul {
  padding: 0 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  border: none;

}

.navbar .dropdown-items-li {
  padding: 10px;
  text-transform: none;
}

.navbar .dropdown-items-li .items:hover {
  color: #cccccc;

}

@media (max-width: 991px) {
  .navbar .navbar-nav {
    right: 5%;
    width: calc(100vw - 300px);
    padding: 20px 0;
    flex-direction: column;
    background: #FFFFFF;
    position: absolute;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.375rem
  }

  .navbar li {
    padding: 20px 0;
  }

  .navbar a,
  .navbar a:focus {
    font-size: 17px;
    color: #58595b;
    text-align: center;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #58595b;
    font-size: 19px;
    font-weight: bold;
  }
}

@media (max-width: 575px) {
  .navbar-nav {
    float: right;
  }
  .navbar-nav li {
    position: static;
  }

  #header {
    padding-bottom: 10px;
  }

  #header .logo img {
    width: 80%;
    height: auto;
  }

  #header-contact .logo {
    padding: 10px;
  }

  .navbar .navbar-nav {
    right: 5%;
    width: calc(100vw - 25px);
    padding: 20px 0;
    flex-direction: column;
    background: #FFFFFF;
    position: absolute;
    margin-top: 25px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.375rem
  }
}
