<header id="header">
  <div id="header-contact">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo">
        HOTLINE: 0913.866.179
      </h1>
      <div class="social-links text-center text-md-right pt-3 d-flex">
        <a href="https://www.facebook.com/DIENTOANGROUP" target="_blank" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/dien-toan-group" target="_blank" class="youtube"><i class="fab fa-linkedin-in"></i></a>
        <div class="input-group mb-3">
          <input type="text" class="form-control">
          <button class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

      </div>
    </div>

  </div>
  <div id="fixed-header">
    <div class="container d-flex align-items-center justify-content-between">
      <h1 class="logo">
        <a routerLink="" ><img src="./assets/images/dientoan-logo.png" alt="" width="51" height="60"></a>
      </h1>

          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <button class="navbar-toggler"
                      type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarNavDropdown"
                      aria-controls="navbarNavDropdown"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li *ngFor="let parent of menuList; let i = index"
                      [routerLinkActiveOptions]="{exact: true}"
                      routerLinkActive="active">

                    <a *ngIf="parent.childrens.length === 0"
                       class="nav-link"
                       routerLink="/{{ parent?.url }}"
                       routerLinkActive="active"
                      (click)="hideNavbar()">{{parent.name}}</a>

                    <a *ngIf="parent.childrens.length > 0"
                        class="nav-link dropdown-toggle"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                       aria-expanded="false">{{parent.name}}</a>

                    <ul class="dropdown-menu dropdown-items-ul" aria-labelledby="navbarDropdown">
                      <ng-container *ngIf="parent.childrens.length > 0">
                        <ng-container *ngFor="let child of parent.childrens">

                          <li class="dropdown-items-li"
                              [routerLinkActiveOptions]="{exact: true}"
                              routerLink="/{{ child?.url }}"
                              routerLinkActive="active">

                            <a class="items"
                               routerLink="/{{ child?.url }}"
                               routerLinkActive="active"
                               (click)="hideNavbar()"
                            > {{ child?.name }}</a>
                          </li>

                        </ng-container>
                      </ng-container>

                    </ul>
                  </li>


                </ul>
              </div>
            </div>
          </nav>
    </div>

  </div>
</header><!-- End Header -->
