<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container-fluid">
    <div class="container d-flex align-items-center justify-content-between mb-7">
      <div
        class="col-lg-12 col-md-12 col-12 pt-3 pt-lg-0 order-2 order-lg-1">
        <h1>ĐIỆN TOÁN GROUP</h1>
        <!-- <img src="../../assets/images/v_cu_c_s_ng_d_d_ng_h_n_v_.png" style="width: 400px"/> -->
        <p class="petrona-slogan"> Smart Technology -Easy Life</p>
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<!-- ======= about ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-4 order-1 order-lg-2 d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="150">
          <img src="../../assets/images/layer_81.jpg">
        </div>
        <div class="col-lg-4 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <h2 class="fw-bold">VỀ CHÚNG TÔI</h2>
          <!--      <p>Điện Toán Group mang tới cho khách hàng giải pháp công nghệ hàng đầu, nâng tầm giá trị thương hiệu Việt Nam trong khu vực và thế giới. Đóng góp cho sự phát triển bền vững, sự tiến bộ của xã hội. Điện Toán Group mang tới cho khách hàng giải pháp công nghệ</p>-->
          <p class="fs-5 pb-5 text-justify">
            Điện Toán Group mang tới cho khách hàng giải pháp công nghệ hàng đầu, nâng tầm giá trị thương hiệu Việt Nam
            trong khu vực và thế giới. Đóng góp cho sự phát triển bền vững, sự tiến bộ của xã hội.
          </p>
          <a class="read-more" (click)="onClickDetail(102)">Xem thêm <img src="../../assets/images/shape_13.png"/></a>
        </div>

        <div class="col-lg-4 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
          <div class="icon-box border-top mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <img src="../../assets/images/layer_82.png" alt="" width="35" height="57">
            <h4>TẦM NHÌN</h4>
            <p class="text-justify">Trở thành nhà cung cấp giải pháp công nghệ hàng đầu Việt Nam và thế giới, phục vụ cho cuộc sống tốt đẹp
              hơn.</p>
          </div>
          <div class="icon-box border-top border-bottom" data-aos="fade-up" data-aos-delay="150">
            <img class="layer-83" src="../../assets/images/layer_83.png" alt="" width="56" height="56">
            <h4>SỨ MỆNH</h4>
            <p class="text-justify">Đồng hành và đóng góp vào sự thành công của khách hàng thông qua việc cung cấp các sản phẩm kỹ thuật cao,
              các giải pháp tích hợp công nghệ mới và dịch vụ hoàn hảo.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- ======= members======= -->
<h2 class="divider-text mb-0 pb-0"><span class="bg-white fw-bold">CÔNG TY THÀNH VIÊN</span></h2>

<section id="members" class="members section-bg border-bottom">
  <div class="container" data-aos="fade-up">



    <div class="row gy-4 members-bg">
      <div class="col-lg-12 col-md-6 col-sm-12 align-self-center members-img-bg" data-aos="zoom-in"
           data-aos-delay="100">
        <!--        <img src="assets/images/layer_103.png" alt="" class="img-fluid">-->
      </div>
      <div class=" col-lg-6 col-md-12 col-sm-12  d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box-right iconbox-blue pe-lg-cus-15 pe-xl-cus-15">
          <div class="icon">
            <img src="../../assets/images/tris-logo.png">
            <i class="bx bxl-dribbble"></i>
          </div>
          <h4><a href="">tris</a></h4>
          <br>
          <img src="../../assets/images/line_5_copy_2.png">
          <p>Hệ sinh thái giám sát số Ứng dụng Trí Tuệ Nhân Tạo (AI và Camera)</p>
        </div>
      </div>

      <div class=" col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box-left iconbox-orange ps-lg-cus-15 ps-xl-cus-15 pt-2-1">
          <div class="icon">
            <img src="../../assets/images/newai-logo.png">

            <i class="bx bx-file"></i>
          </div>
          <br>
          <img src="../../assets/images/line_5.png">
          <p>Dịch vụ Giải pháp AI. Định hình giáo dục</p>
        </div>
      </div>
      <div class=" col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start member-lasted" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box-left iconbox-pink">
          <div class="icon">
            <img src="../../assets/images/digihubs-logo_2.jpg">
            <i class="bx bx-tachometer"></i>
          </div>
          <h4><a href="">Digihubs</a></h4>
          <br>
          <img src="../../assets/images/line_5_copy_2.png">
          <p>Giải pháp Quản lý nhà thuốc bán lẻ, quản lý nhà cung cấp thuốc (provider)</p>
        </div>
      </div>

      <div class=" col-lg-6 col-md-12 col-sm-12 d-flex justify-content-end member-lasted" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box-right iconbox-yellow">
          <div class="icon">
            <img src="../../assets/images/bmes-logo-2.jpg">
            <i class="bx bx-tachometer"></i>

          </div>
          <h4><a href="">Bmes</a></h4>
          <br>
          <img src="../../assets/images/line_5.png">
          <p>Giải pháp quản lý trạm trộn bê tông trên điện toán đám mây, quản lý kho vật tư tiêu hao</p>
        </div>
      </div>
      <div class=" col-lg-6 col-md-12 col-sm-12 d-flex justify-content-end member-lasted" data-aos="zoom-in"
           data-aos-delay="200">
        <div class="icon-box-right iconbox-yellow pe-lg-cus-15 pe-xl-cus-15">
          <div class="icon">
            <img src="../../assets/images/datalink-logo.png">
            <i class="bx bx-tachometer"></i>

          </div>
          <h4><a href="">Datalink</a></h4>
          <br>
          <img src="../../assets/images/line_5_copy_2.png">
          <p>Kho dữ liệu dùng chung cho các sở ban ngành</p>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- ======= du an ======= -->
<section id="contracts" class="contracts">
  <div class="container">
    <div class="section-title">
      <h2>Dự án đã thực hiện</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
        <img  (click)="onClickDetail(projectTitle?.id)" src="https://webapi.dientoan.vn/{{projectTitle?.images}}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content  d-flex flex-column" data-aos="fade-right">
        <div class="mb-auto align-items-start">
          <h2>{{projectTitle?.title}}</h2>
          <p class="fst-italic text-justify align-items-start">
            {{projectTitle?.abstract}}
          </p>
        </div>
       <div>
         <a class="read-more" (click)="onClickDetail(projectTitle?.id)">Xem thêm <img src="../../assets/images/shape_13.png"/></a>
       </div>
      </div>
    </div>

    <div class="row gy-4 margin-top-15">
      <div class=" col-lg-4 col-md-6 d-flex flex-column" data-aos="zoom-in" data-aos-delay="100" *ngFor="let p of projectList">
          <div class="align-items-start"  data-aos="zoom-in" data-aos-delay="150">
            <img (click)="onClickDetail(p?.id)" src="https://webapi.dientoan.vn/{{p?.images}}" class="img-fluid" alt="" style="height: 300px">
          </div>
          <div class="mb-auto align-items-start" data-aos="fade-right">
            <h4>{{p?.title}}</h4>
          </div>
          <div class="align-items-start" data-aos="fade-right">
            <a class="read-more" (click)="onClickDetail(p?.id)">Xem thêm <img src="../../assets/images/shape_13.png"/></a>
          </div>
      </div>

    </div>

  </div>
</section>

<!-- ======= tin tức ======= -->
<section id="news" class="news">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Tin tức</h2>
    </div>

    <div class="position-relative m-4" id="news-filters">
      <div class="progress" style="height: 1px;">
        <div class="progress-bar" role="progressbar"></div>
      </div>
      <div class="position-absolute top-0 start-25">
        <button type="button"
                class="translate-middle btn btn-sm btn-secondary rounded-pill"
                ngClass="{{activeTech ? 'active-btn' : ''}}"
                (click)="onSearchNews('news-technology')"
        >

        </button>
        <br>
        <label>Tin công nghệ</label>
      </div>

      <div class="position-absolute top-0 start-50">
        <button type="button"
                class="translate-middle btn btn-sm btn-secondary rounded-pill"
                ngClass="{{activeMar ? 'active-btn' : ''}}"

                (click)="onSearchNews('news-market')">
        </button>
        <br>
        <label>Tin thị trường</label>
      </div>

      <div class="position-absolute top-0 start-75">
        <button type="button"
                class="translate-middle btn btn-sm btn-secondary rounded-pill"
                ngClass="{{activeInt? 'active-btn' : ''}}"

                (click)="onSearchNews('news-internal')">
        </button>
        <br>
        <label>Tin nội bộ</label>
      </div>
    </div>
    <div class="row gy-4 mt-5">
      <div class="d-flex justify-content-center p-5" *ngIf="newsDataList.length === 0">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class=" col-lg-4 col-md-6 d-flex flex-column" data-aos="zoom-in" data-aos-delay="100"
           *ngFor="let n of newsDataList"
      >
          <div class="align-items-start" data-aos="zoom-in" data-aos-delay="150">
            <img (click)="onClickDetail(n.id)" src="https://webapi.dientoan.vn/{{n?.images}}" class="img-fluid" alt="" style="height: 250px">
          </div>
          <div class="mb-auto align-items-start" data-aos="fade-right">
            <h5>{{n.title}}</h5>
          </div>
          <div class="align-items-start" data-aos="fade-right">
            <a class="read-more" (click)="onClickDetail(n.id)">Xem thêm <img src="../../assets/images/shape_13.png"/></a>
          </div>
        </div>
      </div>

  </div>
</section>

<!-- ======= partner ======= -->
<section id="partner" class="partner">
  <div class="container">
    <div class="section-title">
      <h2 class="divider-text mb-0 pb-0"><span class="bg-white fw-bold">ĐỐI TÁC</span></h2>
    </div>

    <div class="row gy-4 ">
      <div class=" col-lg-2 col-md-4 col-sm-6 col-6 d-flex justify-content-center" data-aos="zoom-in"
           data-aos-delay="100" *ngFor="let n of partnerList">

           <img src="https://webapi.dientoan.vn/{{n?.images}}" class="img-fluid-logo">
      </div>

    </div>
  </div>
</section>
<app-footer></app-footer>
