<div *ngIf="pager.pages && pager.pages.length" class="btn-group">
  <button class="btn btn-sm btn-flat" (click)="setPage(pager.page - 1)"><span aria-hidden="true">&laquo;</span></button>
  <button class="btn btn-sm btn-flat"  *ngFor="let page of pager.pages" [ngClass]="{'btn-primary': pager.page === page}" (click)="setPage(page)">{{ page }}</button>
  <button class="btn btn-sm btn-flat" (click)="setPage(pager.page + 1)"><span aria-hidden="true">&raquo;</span></button>
</div>

