<app-header></app-header>
<div class="container px-lg-0" style="padding-top: 6rem">
  <div class="d-flex flex-row-reverse align-self-end">
    <app-breadcrumb></app-breadcrumb>
  </div>

  <section class="py-3">
    <div class="d-flex justify-content-center p-5" *ngIf="!dataDetail">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="container pt-5 px-lg-0 border-top">

      <p class="fw-bold fs-5">{{dataDetail?.title}}</p>

      <div class="clearfix">
        <img *ngIf="dataDetail?.images" src="https://webapi.dientoan.vn/{{dataDetail?.images}}" class="col-md-6 float-md-end mb-3 ms-md-3 image-rp-mb">

        <div class="text-justify" [innerHTML]="dataDetail?.detail"></div>
      </div>


    </div>
  </section>

  <section>
    <div class="container pt-5 px-lg-0" *ngIf="newsRelatedList.length > 0">

      <p class="fw-bold fs-5">Tin tức khác</p>
      <hr>
      <div *ngFor="let item of newsRelatedList">
        <li class="py-1 hover" (click)="onClickDetail(item.id)">{{item?.title}}</li>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
