/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Roboto Light", sans-serif;
  color: #444444;
}

a {
  color: #2f5883;
  text-decoration: none;
}

a:hover {
  color: #2f5883;
  text-decoration: none;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0s !important;
  }
}

.img-fluid {
  width: 100%;
}

.img-fluid-logo {
  width: 100%;
  padding: 15px 50px;

}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-75 {
  margin-top: 75px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("assets/images/rectangle_17.jpg") center center no-repeat;
  background-size: cover;
}

#hero h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
}

.mb-7 {
  margin-bottom: 7rem !important;
}
.mb-14 {
  margin-bottom: 14rem !important;
}
.petrona-slogan {
  font-family: "Petrona", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
  color: white;
}
#hero h2 {
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0 0 0;
  font-size: 18px;
}

#hero .btn-get-started {
  font-family: "Roboto Light", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  border: 2px solid #fff;
}

#hero .btn-get-started:hover {
  background: #fff;
  color: #2f5883;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1200px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
  }

  #hero .container,
  #hero .container-fluid {
    padding-top: 68px;
  }

  #hero .animated {
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}


@media (max-width: 575px),
(max-height: 600px) {
  #hero {
    height: auto;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 50px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #ffffff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}


.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# contracts
--------------------------------------------------------------*/

.contracts .content h4, h2 {
  font-weight: 600;
  color: #2c4964;
  line-height: 1.36;
}

.contracts .content ul {
  list-style: none;
  padding: 0;
}

.contracts .content ul li {
  padding-bottom: 10px;
}

.contracts .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #2f5883;
}

.contracts .content p:last-child {
  margin-bottom: 0;
}

.contracts .content .read-more {
  font-family: "Roboto Light", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: #0daabf;
}

.contracts .content .read-more:hover {
  background: #0daabf;
}

.contracts .content .read-more i {
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 12px;
}


.counts .counters span {
  font-size: 48px;
  display: block;
  color: #fff;
  font-weight: 600;
  font-family: "Roboto Light", sans-serif;
}

.counts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.ellipse-2-copy-holder {
  min-height: 98px;
  position: relative;
  width: 97px;
  -webkit-border-radius: 48.4px/49.05px;
  -moz-border-radius: 48.4px/49.05px;
  border-radius: 48.4px/49.05px;
  background: #006ca2;
  color: #ffffff;
  font-size: 5.387282rem; /* 86.2px / 16px = 5.3875rem */
  font-weight: bold;
  line-height: 98px;
  text-align: center;
  text-transform: uppercase;
}

.members .members-bg {
  box-sizing: content-box;
  min-height: 875px;
  /*background: url("../assets/images/layer_103.png") center center no-repeat;;*/
}

.members .members-img-bg {
  position: absolute;
  margin: 0;
  background: url("assets/images/layer_103.png") center center no-repeat;
  width: 100%;
  height: 100%;
}

.divider-text {
  position: relative;
  text-align: center;
}

.divider-text span {
  padding: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.members .icon-box {
  text-align: center;
  transition: all ease-in-out 0.3s;
}

.members .icon-box-left {
  text-align: left;
  transition: all ease-in-out 0.3s;
}

.members .icon-box-left .icon {
  display: inline-flex;
}

.members .icon-box-right .icon {
  display: inline-flex;
}

.members .icon-box-right {
  text-align: right;
  transition: all ease-in-out 0.3s;
}

.members img {
  height: auto;
  max-width: 100%;
}

.members .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.members .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.members .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.members .icon-box-left h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
  text-transform: uppercase;
  color: #0daabf !important;
  display: inline-flex;
}

.members .icon-box-right h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
  text-transform: uppercase;
  color: #0daabf !important;
  display: inline-flex;

}

.members .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
  text-transform: uppercase;
  color: #0daabf;

}

.members .icon-box-left h4 a {
  color: #0daabf;
  transition: ease-in-out 0.3s;
}

.members .icon-box-right a {
  color: #0daabf;
  transition: ease-in-out 0.3s;
}

.members .icon-box-left p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  margin-right: 40%;
}

.members .icon-box-right p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  margin-left: 40%;
}


/*--------------------------------------------------------------
# about
--------------------------------------------------------------*/
.about .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.about .icon-box img {
  font-size: 48px;
  float: left;
}

.about image {
  width: 350px;
  height: auto;
}

.about .icon-box {
  padding: 12px;
}

.about .icon-box p {
  font-size: 18px;
  color: #848484;
  margin-left: 60px;
}

.about .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.about .read-more {
  font-family: "Roboto Light", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: #0daabf;
}

/*--------------------------------------------------------------
# News
--------------------------------------------------------------*/
.news .news-item {
  margin-bottom: 30px;
}

.news .content h5 {
  font-size: 17px;
  line-height: 1.8rem;
}

.news .content .read-more {
  font-family: "Roboto Light", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: #0daabf;
}

.news .content .read-more:hover {
  background: #0daabf;
}

.news .content .read-more i {
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 12px;
}

.news #news-filters label {
  font-weight: bold;
  font-size: 17px;
  margin: 0 -50px;
}


.news #news-filters button {
  width: 2rem;
  height: 2rem;
}

.news .start-25 {
  left: 25% !important;
}

.news .start-75 {
  left: 75% !important;
}

.news #news-filters button:hover {
  color: #fff;
  background: #0daabf;
  border-color: #0daabf;
}

.active-btn {
  color: #fff;
  background: #0daabf;
  border-color: #0daabf;
}

.news #news-filters li:last-child {
  margin-right: 0;
}

.news .news-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.news .news-wrap::before {
  content: "";
  background: rgba(88, 70, 249, 0.8);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.news .news-wrap .news-info {
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}

.news .news-wrap .news-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.news .news-wrap .news-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.news .news-wrap .news-links {
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.news .news-wrap .news-links a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.news .news-wrap .news-links a:hover {
  color: #fff;
}

.news .news-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.news .news-wrap:hover .news-info {
  opacity: 1;
  top: calc(50% - 48px);
}

.news .news-wrap:hover .news-links {
  opacity: 1;
  bottom: calc(50% - 50px);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}

.contact .info-box i {
  font-size: 32px;
  color: #2f5883;
  border-radius: 50%;
  padding: 8px;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #2c4964;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 5px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #2f5883;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #2f5883;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #2f7db1;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  font-size: 17px;
  background-size: cover;
  background: #58595b;
  color: #FFFFFF;
}

#footer .footer-top {
  padding: 30px 0 30px 0;
  position: relative;
  text-transform: uppercase;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto Light", sans-serif;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
}

#footer .copyright-wrap {
  border-top: 1px solid #fff;
}

@media (max-width: 820px) {
  body,
  label,
  p,
  span, a, h5 {
    font-size: 13px !important;
  }
  h1 {
    font-size: 19px !important;
  }

  h2 {
    font-size: 19px !important;
  }

  h3 {
    font-size: 17px !important;
  }

  h4 {
    font-size: 15px !important;
  }

  #hero h1 {
    font-size: 26px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }

  #hero .hero-img img {
    width: 60%;
  }

  .news #news-filters button {
    width: 1.5rem;
    height: 1.5rem;
  }

  .news #news-filters label {
    font-size: 13px;
    width: 60px;
    margin: 0 -20px;
  }

  .members .members-img-bg {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .members .icon-box-right, .icon-box-right h4, .icon-box-right p {
    text-align: center;
    margin: 0 20px !important;
  }

  .members .icon-box-left, .icon-box-left h4, .icon-box-left p {
    text-align: center;
    margin: 0 20px !important;
  }

  .member-lasted {
    justify-content: center !important;
  }

}

@media (max-width: 575px) {

  #hero .hero-img img {
    width: 80%;
  }

  .members .icon-box-right, .icon-box-right h4, .icon-box-right p {
    text-align: center;
    margin: 0 20px !important;
  }

  .members .icon-box-left, .icon-box-left h4, .icon-box-left p {
    text-align: center;
    margin: 0 20px !important;
  }

  .img-fluid-logo {
    width: 150px;
    height: 150px;
    padding: 35px;
  }

  .member-lasted {
    justify-content: center !important;
  }

  .image-rp-mb {
    width: 100%;
  }

  .bg-sm-light {
    --bs-bg-opacity: 1;
    background-color: rgba(248, 249, 250, 1) !important;
  }
}

.pt-2-1 {
  padding-top: 2.1rem;
}

.read-more {
  font-family: "Roboto Light", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  color: #fff;
  background: #0daabf;
  cursor: pointer;
}

.read-more:hover {
  color: #fff;
  background: #0daabf;
}

.btn-primary {
  background-color: #0daabf !important;
  border-color: #0daabf !important;
}

.hover:hover {
  color: #0daabf;
  cursor: pointer;
}

@media (min-width: 960px) {
  .pe-lg-cus-15 {
    padding-right: 6rem;
  }

  .ps-lg-cus-15 {
    padding-left: 6rem ;
  }


}

@media (min-width: 1440px) {
  .pe-xl-cus-15 {
    padding-right: 15rem;
  }

  .ps-xl-cus-15 {
    padding-left: 15rem;
  }
}

.text-justify{
  text-align: justify;
}




